<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ocwcd_club_mont_wen_5</display-name>
  <welcome-file-list>
    <welcome-file>Signup.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/saveuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupServlet2</servlet-name>
    <servlet-class>com.controller.SignupServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet2</servlet-name>
    <url-pattern>/saveuser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateSalaryServlet</servlet-name>
    <servlet-class>com.controller.CalculateSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateSalaryServlet</servlet-name>
    <url-pattern>/CalculateSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FSignupServlet</display-name>
    <servlet-name>FSignupServlet</servlet-name>
    <servlet-class>com.controller.FSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FSignupServlet</servlet-name>
    <url-pattern>/FSignupServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FSignupServletFilter</filter-name>
    <filter-class>com.filter.FSignupServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FSignupServletFilter</filter-name>
    <url-pattern>/FSignupServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FSignupServletFilterRegex</filter-name>
    <filter-class>com.filter.FSignupServletFilterRegex</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FSignupServletFilterRegex</filter-name>
    <servlet-name>FSignupSerlvet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SLoginServlet</display-name>
    <servlet-name>SLoginServlet</servlet-name>
    <servlet-class>com.controller.SLoginServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>admin@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>12345</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLoginServlet</servlet-name>
    <url-pattern>/SLoginServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>globalEmail</param-name>
    <param-value>global@gmail.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CLoginServlet</display-name>
    <servlet-name>CLoginServlet</servlet-name>
    <servlet-class>com.controller.CLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoginServlet</servlet-name>
    <url-pattern>/CLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CAddToCartServlet</display-name>
    <servlet-name>CAddToCartServlet</servlet-name>
    <servlet-class>com.controller.CAddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CAddToCartServlet</servlet-name>
    <url-pattern>/CAddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CAddCookie</display-name>
    <servlet-name>CAddCookie</servlet-name>
    <servlet-class>com.controller.CAddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CAddCookie</servlet-name>
    <url-pattern>/CAddCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLoginServlet</display-name>
    <servlet-name>SessionLoginServlet</servlet-name>
    <servlet-class>com.controller.SessionLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLoginServlet</servlet-name>
    <url-pattern>/SessionLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLogoutServlet</display-name>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <servlet-class>com.controller.SessionLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <url-pattern>/SessionLogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.listener.UserCounter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SessionTimeoutServlet</display-name>
    <servlet-name>SessionTimeoutServlet</servlet-name>
    <servlet-class>com.controller.SessionTimeoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTimeoutServlet</servlet-name>
    <url-pattern>/SessionTimeoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeaderDemoServlet</display-name>
    <servlet-name>RequestHeaderDemoServlet</servlet-name>
    <servlet-class>com.controller.RequestHeaderDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeaderDemoServlet</servlet-name>
    <url-pattern>/RequestHeaderDemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBSignupServlet</display-name>
    <servlet-name>DBSignupServlet</servlet-name>
    <servlet-class>com.controller.DBSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBSignupServlet</servlet-name>
    <url-pattern>/DBSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbAddProductServlet</display-name>
    <servlet-name>DbAddProductServlet</servlet-name>
    <servlet-class>com.controller.DbAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbAddProductServlet</servlet-name>
    <url-pattern>/DbAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbListProductServlet</display-name>
    <servlet-name>DbListProductServlet</servlet-name>
    <servlet-class>com.controller.DbListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbListProductServlet</servlet-name>
    <url-pattern>/DbListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbDeleteProductServlet</display-name>
    <servlet-name>DbDeleteProductServlet</servlet-name>
    <servlet-class>com.controller.DbDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbDeleteProductServlet</servlet-name>
    <url-pattern>/DbDeleteProductServlet</url-pattern>
  </servlet-mapping>
</web-app>